.ostad-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333; /* Text color for the link */
    transition: color 0.3s; /* Smooth color transition on hover */
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
    position: relative;
  }
  
  .ostad-link:hover {
    color: #e6fc25; /* Change text color to green on hover */
  }
  
  .ostad-container {
    display: flex;
    align-items: center;
  }
  
  .ostad-logo {
    max-width: 100px;
    margin-right: 20px; /* Adjust the margin as needed */
  }
  
  .status-point {
    width: 12px; /* Adjust the size of the status point */
    height: 12px; /* Adjust the size of the status point */
    background-color: #33fc33; /* Green color for the status point */
    border-radius: 50%; /* Creates a circular shape for the status point */
    margin-left: 10px; /* Adjust the position of the status point */
  }
  
  .ostad-text {
    margin-left: 10px; /* Remove any default margin */
  }
  
  .arrow-line {
    width: 20px; /* Adjust the length of the arrow line */
    height: 2px; /* Adjust the thickness of the arrow line */
    background-color: #9aec2e; /* Arrow line color */
    margin-left: 10px; /* Adjust the position of the arrow line */
    position: relative;
  }
  
  .arrowhead {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent; /* Adjust the size of the arrowhead */
    border-bottom: 10px solid transparent; /* Adjust the size of the arrowhead */
    border-left: 10px solid #9aec2e; /* Arrowhead color, and it points left */
    top: 50%; /* Position the arrowhead vertically in the middle */
    transform: translateY(-50%); /* Center the arrowhead vertically */
    right: -10px; /* Adjust the position of the arrowhead to make it face leftward */
  }
  .course-heading {
    font-size: 24px; /* Adjust the font size */
    font-weight: bold; /* Add bold font weight */
    color: #333; /* Text color for the heading */
    margin-top: 20px; /* Adjust the margin as needed */
    text-transform: uppercase; /* Transform the text to uppercase */
  }
  